<div class="container-fluid" id="all">
    <h1>PORTAL DE PASANTÍAS U.C.B.</h1>
    <h3>Registro de Nuevo Usuario</h3>
    <div class="container" id="typec">
        <h5>¿Qué tipo de cuenta desea crear?</h5>
        <div class="row">
            <div class="col-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://st4.depositphotos.com/5398292/30525/v/600/depositphotos_305257942-stock-illustration-graduation-cap-on-stack-of.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">ESTUDIANTE</h5>
                      <p class="card-text">Enfocado a alumnos y ex-alumnos de la Universidad Católica Boliviana, se requiere una cuenta con el dominio ucb.edu.bo</p>
                      <a href="/registerStudent" class="btn btn-primary">REGISTRARSE</a>
                    </div>
                  </div>
            </div>
        <div class="col-6">
            <div class="card" style="width: 18rem;">
                <img src="https://img.freepik.com/vector-premium/ilustracion-edificio_756535-92.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">EMPRESA</h5>
                  <p class="card-text">Enfocado a Empresas que requieran enviar solicitudes de pasantías, no requiere dominio ucb.edu.bo</p>
                  <a href="/registerCompany" class="btn btn-primary">REGISTRARSE</a>
                </div>
              </div>
        </div>    
    </div>
</div>
