<h1>PORTAL DE PASANTÍAS U.C.B. </h1>
<h3>Resgistro de Nuevo Usuario Empresa</h3>
<!-- <form [formGroup]="companyForm" (ngSubmit)="continue()" > -->
    <form action="">
    <h4>Datos Empresa</h4>
    <div class="form-group">
        <label for="companyName">Nombre, Razón Social o Denominación : </label>
        <input type="text" class="form-control" formControlName="type" placeholder="Enter company name">
    </div>
    <div class="form-group">
        <label for="companyPhone">Tipo de Organización : </label>
        <input type="text" class="form-control" formControlName="type" placeholder="Enter company phone">
    </div>
    <div class="form-group">
        <label for="companyPhone">Dirección : </label>
        <input type="text" class="form-control" formControlName="address" placeholder="Enter company phone">
    </div>
    <div class="form-group">
        <label for="companyEmail">Telefono : </label>
        <input type="text" class="form-control" id="companyEmail" formControlName="telephone" placeholder="Enter company email">
    </div>
    <div class="form-group">
        <label for="companyWebsite">Departamento : </label>
        <input type="text" class="form-control" id="companyWebsite" formControlName="department" placeholder="Enter company website">
    </div>
    <h4>Datos del Representante de la Empresa</h4>
    <div class="form-group">
        <label for="companyName">Nombres : </label>
        <input type="text" class="form-control" id="companyName" formControlName="name" placeholder="Enter company name">
    </div>
    <div class="form-group">
        <label for="companyAddress">Primer Apellido : </label>
        <input type="text" class="form-control" id="companyAddress" formControlName="type" placeholder="Enter company address">
    </div>
    <div class="form-group">
        <label for="companyAddress">Segundo Apellido : </label>
        <input type="text" class="form-control" id="companyAddress" formControlName="type" placeholder="Enter company address">
    </div>
    <div class="form-group">
        <label for="companyAddress">Tipo de documento : </label>
        <select name="document" id="document" formControlName="name" class="form-control">
            
            <!-- <option value="item.id" *ngFor="let item of documents">{{item.name}}</option> -->
        </select>
    </div>
    <div class="form-group">
        <label for="companyPhone">Documento : </label>
        <input type="number" class="form-control" id="companyPhone" formControlName="type" placeholder="Enter company phone">
    </div>
    <div class="form-group">
        <label for="companyPhone">Telefono : </label>
        <input type="text" class="form-control" id="companyPhone" formControlName="telephone" placeholder="Enter company phone">
    </div>
    <div class="form-group">
        <label for="companyPhone">Área : </label>
        <input type="text" class="form-control" id="companyPhone" formControlName="type" placeholder="Enter company phone">
    </div>
    <div class="form-group">
        <label for="companyPhone">Cargo : </label>
        <input type="text" class="form-control" id="companyPhone" formControlName="type" placeholder="Enter company phone">
    </div>
    <button type="submit" class="btn btn-primary">Continuar</button>
</form>